//$header-primary-start: #B3FFAB;
//Colors
//$header-primary-start: #6DD5FA;
//$header-primary-end: #2980B9;

//Blue
//$header-primary-start: #6DD5FA;
//$header-primary-end: #2980B9;

//Green

$header-primary-start: #38ef7d;
$header-primary-end: #11998e;
$header-primary-middle: #C6FFDD;

//Orange Red
//$header-primary-start: #f5af19;
//$header-primary-end: #f12711;

////Mega tron
//$header-primary-start: #FBD786;
//$header-primary-middle: #C6FFDD;
//$header-primary-end: #f7797d;

$color-black: #1c1c1c;
$color-white: #ffffff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;

// Font size
$default-font-size: 2rem;

//variables for grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
