.header {
  height: 80vh;
  background-image: linear-gradient(to right bottom,
    //rgba($color-white, .75),
          rgba($header-primary-middle, .25),
          rgba($header-primary-start, .25),
          rgba($header-primary-end, .25)),
  url("src/img/heroBG.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}